:root {
--playground-color-primary-50: #ffff92;
--playground-color-primary-50-hex: #ffff92;
--playground-color-primary-50-hsl: 60, 100, 79;
--playground-color-primary-50-rgb: 255, 255, 146;
--playground-color-primary-100: #fbf07c;
--playground-color-primary-100-hex: #fbf07c;
--playground-color-primary-100-hsl: 55, 94, 74;
--playground-color-primary-100-rgb: 251, 240, 124;
--playground-color-primary-200: #f5e166;
--playground-color-primary-200-hex: #f5e166;
--playground-color-primary-200-hsl: 52, 88, 68;
--playground-color-primary-200-rgb: 245, 225, 102;
--playground-color-primary-300: #f0d350;
--playground-color-primary-300-hex: #f0d350;
--playground-color-primary-300-hsl: 49, 84, 63;
--playground-color-primary-300-rgb: 240, 211, 80;
--playground-color-primary-400: #e9c437;
--playground-color-primary-400-hex: #e9c437;
--playground-color-primary-400-hsl: 48, 80, 56;
--playground-color-primary-400-rgb: 233, 196, 55;
--playground-color-primary-500: #dab224;
--playground-color-primary-500-hex: #dab224;
--playground-color-primary-500-hsl: 47, 72, 50;
--playground-color-primary-500-rgb: 218, 178, 36;
--playground-color-primary-600: #c19d1b;
--playground-color-primary-600-hex: #c19d1b;
--playground-color-primary-600-hsl: 47, 75, 43;
--playground-color-primary-600-rgb: 193, 157, 27;
--playground-color-primary-700: #a98812;
--playground-color-primary-700-hex: #a98812;
--playground-color-primary-700-hsl: 47, 81, 37;
--playground-color-primary-700-rgb: 169, 136, 18;
--playground-color-primary-800: #927408;
--playground-color-primary-800-hex: #927408;
--playground-color-primary-800-hsl: 47, 90, 30;
--playground-color-primary-800-rgb: 146, 116, 8;
--playground-color-primary-900: #7c6000;
--playground-color-primary-900-hex: #7c6000;
--playground-color-primary-900-hsl: 46, 100, 24;
--playground-color-primary-900-rgb: 124, 96, 0;
--playground-color-primary: #e6bd29;
--playground-color-primary-hex: #e6bd29;
--playground-color-primary-hsl: 47, 79, 53;
--playground-color-primary-rgb: 230, 189, 41;
--playground-color-secondary-50: #adffff;
--playground-color-secondary-50-hex: #adffff;
--playground-color-secondary-50-hsl: 180, 100, 84;
--playground-color-secondary-50-rgb: 173, 255, 255;
--playground-color-secondary-100: #97faf2;
--playground-color-secondary-100-hex: #97faf2;
--playground-color-secondary-100-hsl: 175, 91, 79;
--playground-color-secondary-100-rgb: 151, 250, 242;
--playground-color-secondary-200: #80f4e5;
--playground-color-secondary-200-hex: #80f4e5;
--playground-color-secondary-200-hsl: 172, 84, 73;
--playground-color-secondary-200-rgb: 128, 244, 229;
--playground-color-secondary-300: #65efd9;
--playground-color-secondary-300-hex: #65efd9;
--playground-color-secondary-300-hsl: 170, 81, 67;
--playground-color-secondary-300-rgb: 101, 239, 217;
--playground-color-secondary-400: #43e9cc;
--playground-color-secondary-400-hex: #43e9cc;
--playground-color-secondary-400-hsl: 170, 79, 59;
--playground-color-secondary-400-rgb: 67, 233, 204;
--playground-color-secondary-500: #25dabb;
--playground-color-secondary-500-hex: #25dabb;
--playground-color-secondary-500-hsl: 170, 71, 50;
--playground-color-secondary-500-rgb: 37, 218, 187;
--playground-color-secondary-600: #1cc4a5;
--playground-color-secondary-600-hex: #1cc4a5;
--playground-color-secondary-600-hsl: 169, 75, 44;
--playground-color-secondary-600-rgb: 28, 196, 165;
--playground-color-secondary-700: #13ad90;
--playground-color-secondary-700-hex: #13ad90;
--playground-color-secondary-700-hsl: 169, 80, 38;
--playground-color-secondary-700-rgb: 19, 173, 144;
--playground-color-secondary-800: #09977c;
--playground-color-secondary-800-hex: #09977c;
--playground-color-secondary-800-hsl: 169, 89, 31;
--playground-color-secondary-800-rgb: 9, 151, 124;
--playground-color-secondary-900: #008268;
--playground-color-secondary-900-hex: #008268;
--playground-color-secondary-900-hsl: 168, 100, 25;
--playground-color-secondary-900-rgb: 0, 130, 104;
--playground-color-secondary: #29e6c6;
--playground-color-secondary-hex: #29e6c6;
--playground-color-secondary-hsl: 170, 79, 53;
--playground-color-secondary-rgb: 41, 230, 198;
--playground-color-warning-50: #ffff99;
--playground-color-warning-50-hex: #ffff99;
--playground-color-warning-50-hsl: 60, 100, 80;
--playground-color-warning-50-rgb: 255, 255, 153;
--playground-color-warning-100: #f6f572;
--playground-color-warning-100-hex: #f6f572;
--playground-color-warning-100-hsl: 60, 88, 71;
--playground-color-warning-100-rgb: 246, 245, 114;
--playground-color-warning-200: #ebeb46;
--playground-color-warning-200-hex: #ebeb46;
--playground-color-warning-200-hsl: 60, 80, 60;
--playground-color-warning-200-rgb: 235, 235, 70;
--playground-color-warning-300: #cfd221;
--playground-color-warning-300-hex: #cfd221;
--playground-color-warning-300-hsl: 61, 73, 48;
--playground-color-warning-300-rgb: 207, 210, 33;
--playground-color-warning-400: #a4ab11;
--playground-color-warning-400-hex: #a4ab11;
--playground-color-warning-400-hsl: 63, 82, 37;
--playground-color-warning-400-rgb: 164, 171, 17;
--playground-color-warning-500: #7b8500;
--playground-color-warning-500-hex: #7b8500;
--playground-color-warning-500-hsl: 65, 100, 26;
--playground-color-warning-500-rgb: 123, 133, 0;
--playground-color-warning: #e5e629;
--playground-color-warning-hex: #e5e629;
--playground-color-warning-hsl: 60, 79, 53;
--playground-color-warning-rgb: 229, 230, 41;
--playground-color-danger-50: #ff9984;
--playground-color-danger-50-hex: #ff9984;
--playground-color-danger-50-hsl: 10, 100, 76;
--playground-color-danger-50-rgb: 255, 153, 132;
--playground-color-danger-100: #f05748;
--playground-color-danger-100-hex: #f05748;
--playground-color-danger-100-hsl: 5, 85, 61;
--playground-color-danger-100-rgb: 240, 87, 72;
--playground-color-danger-200: #bf1b1e;
--playground-color-danger-200-hex: #bf1b1e;
--playground-color-danger-200-hsl: 359, 75, 43;
--playground-color-danger-200-rgb: 191, 27, 30;
--playground-color-danger-300: #740000;
--playground-color-danger-300-hex: #740000;
--playground-color-danger-300-hsl: 0, 100, 23;
--playground-color-danger-300-rgb: 116, 0, 0;
--playground-color-danger: #e6292c;
--playground-color-danger-hex: #e6292c;
--playground-color-danger-hsl: 359, 79, 53;
--playground-color-danger-rgb: 230, 41, 44;
--playground-color-success-50: #adffb0;
--playground-color-success-50-hex: #adffb0;
--playground-color-success-50-hsl: 122, 100, 84;
--playground-color-success-50-rgb: 173, 255, 176;
--playground-color-success-100: #98fa9b;
--playground-color-success-100-hex: #98fa9b;
--playground-color-success-100-hsl: 122, 91, 79;
--playground-color-success-100-rgb: 152, 250, 155;
--playground-color-success-200: #80f485;
--playground-color-success-200-hex: #80f485;
--playground-color-success-200-hsl: 123, 84, 73;
--playground-color-success-200-rgb: 128, 244, 133;
--playground-color-success-300: #66ef6f;
--playground-color-success-300-hex: #66ef6f;
--playground-color-success-300-hsl: 124, 81, 67;
--playground-color-success-300-rgb: 102, 239, 111;
--playground-color-success-400: #43e958;
--playground-color-success-400-hex: #43e958;
--playground-color-success-400-hsl: 128, 79, 59;
--playground-color-success-400-rgb: 67, 233, 88;
--playground-color-success-500: #25da44;
--playground-color-success-500-hex: #25da44;
--playground-color-success-500-hsl: 130, 71, 50;
--playground-color-success-500-rgb: 37, 218, 68;
--playground-color-success-600: #1dc335;
--playground-color-success-600-hex: #1dc335;
--playground-color-success-600-hsl: 129, 74, 44;
--playground-color-success-600-rgb: 29, 195, 53;
--playground-color-success-700: #14ac26;
--playground-color-success-700-hex: #14ac26;
--playground-color-success-700-hsl: 127, 79, 38;
--playground-color-success-700-rgb: 20, 172, 38;
--playground-color-success-800: #0a9615;
--playground-color-success-800-hex: #0a9615;
--playground-color-success-800-hsl: 125, 88, 31;
--playground-color-success-800-rgb: 10, 150, 21;
--playground-color-success-900: #008100;
--playground-color-success-900-hex: #008100;
--playground-color-success-900-hsl: 120, 100, 25;
--playground-color-success-900-rgb: 0, 129, 0;
--playground-color-success: #29e64c;
--playground-color-success-hex: #29e64c;
--playground-color-success-hsl: 131, 79, 53;
--playground-color-success-rgb: 41, 230, 76;
--playground-color-background: #fff;
--playground-color-background-hex: #fff;
--playground-color-background-hsl: 0, 0, 0;
--playground-color-background-rgb: 0, 15, 255;
--playground-color-surface: #fff;
--playground-color-surface-hex: #fff;
--playground-color-surface-hsl: 0, 0, 0;
--playground-color-surface-rgb: 0, 15, 255;
--playground-color-neutral: #030305;
--playground-color-neutral-hex: #030305;
--playground-color-neutral-hsl: 240, 25, 2;
--playground-color-neutral-rgb: 3, 3, 5;
--playground-color-neutral-dark: #030304;
--playground-color-neutral-dark-hex: #030304;
--playground-color-neutral-dark-hsl: 240, 14, 1;
--playground-color-neutral-dark-rgb: 3, 3, 4;
--playground-color-neutral-light: #030306;
--playground-color-neutral-light-hex: #030306;
--playground-color-neutral-light-hsl: 240, 33, 2;
--playground-color-neutral-light-rgb: 3, 3, 6;
  --playground-font-family-Poppins: "Poppins", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --playground-font-family-Inter: "Inter", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --playground-font-family-Mulish: "Mulish", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --playground-font-family-Consolas: "Consolas", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --playground-font-weight-Poppins-bold: 700;
  --playground-font-weight-Poppins-semiBold: 600;
  --playground-font-weight-Poppins-medium: 500;
  --playground-font-weight-Poppins-regular: 400;
  --playground-font-weight-Poppins-light: 300;
  --playground-font-weight-Inter-bold: 700;
  --playground-font-weight-Inter-semiBold: 600;
  --playground-font-weight-Inter-medium: 500;
  --playground-font-weight-Inter-regular: 400;
  --playground-font-weight-Inter-light: 300;
  --playground-font-weight-Mulish-bold: 700;
  --playground-font-weight-Mulish-semiBold: 600;
  --playground-font-weight-Mulish-medium: 500;
  --playground-font-weight-Mulish-regular: 400;
  --playground-font-weight-Mulish-light: 300;
  --playground-font-weight-Consolas-bold: 700;
  --playground-font-weight-Consolas-semiBold: 600;
  --playground-font-weight-Consolas-medium: 500;
  --playground-font-weight-Consolas-regular: 400;
  --playground-font-weight-Consolas-light: 300;
  --playground-font-base: 16;
--playground-font-size: 16;  --playground-breakpoint-phone: 375px;
  --playground-breakpoint-tablet: 768px;
  --playground-breakpoint-desktop: 1280px;

--playground-custom-layout-header-height: 6.25rem;
--playground-custom-layout-max-width: 100rem;
--playground-custom-layout-gutters: 2rem;
--playground-custom-layout-section-title-height: 4.5rem;
--playground-custom-modal-gutters: 2rem;}

html, body {
  font-size: 16px;
  box-sizing: border-box;
}

*::after, *::before {
  box-sizing: border-box;
}
