:root {
  --studio-color-primary-50: #91a0ff;
  --studio-color-primary-50-hex: #91a0ff;
  --studio-color-primary-50-hsl: 232, 100, 78;
  --studio-color-primary-50-rgb: 145, 160, 255;
  --studio-color-primary-100: #7a8bea;
  --studio-color-primary-100-hex: #7a8bea;
  --studio-color-primary-100-hsl: 231, 73, 70;
  --studio-color-primary-100-rgb: 122, 139, 234;
  --studio-color-primary-200: #6377d4;
  --studio-color-primary-200-hex: #6377d4;
  --studio-color-primary-200-hsl: 229, 57, 61;
  --studio-color-primary-200-rgb: 99, 119, 212;
  --studio-color-primary-300: #4b63c0;
  --studio-color-primary-300-hex: #4b63c0;
  --studio-color-primary-300-hsl: 228, 48, 52;
  --studio-color-primary-300-rgb: 75, 99, 192;
  --studio-color-primary-400: #3050ab;
  --studio-color-primary-400-hex: #3050ab;
  --studio-color-primary-400-hsl: 224, 56, 43;
  --studio-color-primary-400-rgb: 48, 80, 171;
  --studio-color-primary-500: #1c3f96;
  --studio-color-primary-500-hex: #1c3f96;
  --studio-color-primary-500-hsl: 223, 69, 35;
  --studio-color-primary-500-rgb: 28, 63, 150;
  --studio-color-primary-600: #143081;
  --studio-color-primary-600-hex: #143081;
  --studio-color-primary-600-hsl: 225, 73, 29;
  --studio-color-primary-600-rgb: 20, 48, 129;
  --studio-color-primary-700: #0b216d;
  --studio-color-primary-700-hex: #0b216d;
  --studio-color-primary-700-hsl: 227, 82, 24;
  --studio-color-primary-700-rgb: 11, 33, 109;
  --studio-color-primary-800: #021259;
  --studio-color-primary-800-hex: #021259;
  --studio-color-primary-800-hsl: 229, 96, 18;
  --studio-color-primary-800-rgb: 2, 18, 89;
  --studio-color-primary-900: #000045;
  --studio-color-primary-900-hex: #000045;
  --studio-color-primary-900-hsl: 240, 100, 14;
  --studio-color-primary-900-rgb: 0, 0, 69;
  --studio-color-primary: #2047a1;
  --studio-color-primary-hex: #2047a1;
  --studio-color-primary-hsl: 222, 67, 38;
  --studio-color-primary-rgb: 32, 71, 161;
  --studio-color-secondary-50: #ffda7e;
  --studio-color-secondary-50-hex: #ffda7e;
  --studio-color-secondary-50-hsl: 43, 100, 75;
  --studio-color-secondary-50-rgb: 255, 218, 126;
  --studio-color-secondary-100: #eac469;
  --studio-color-secondary-100-hex: #eac469;
  --studio-color-secondary-100-hsl: 42, 75, 66;
  --studio-color-secondary-100-rgb: 234, 196, 105;
  --studio-color-secondary-200: #d5ae54;
  --studio-color-secondary-200-hex: #d5ae54;
  --studio-color-secondary-200-hsl: 42, 61, 58;
  --studio-color-secondary-200-rgb: 213, 174, 84;
  --studio-color-secondary-300: #c09940;
  --studio-color-secondary-300-hex: #c09940;
  --studio-color-secondary-300-hsl: 42, 50, 50;
  --studio-color-secondary-300-rgb: 192, 153, 64;
  --studio-color-secondary-400: #ab842b;
  --studio-color-secondary-400-hex: #ab842b;
  --studio-color-secondary-400-hsl: 42, 60, 42;
  --studio-color-secondary-400-rgb: 171, 132, 43;
  --studio-color-secondary-500: #96701d;
  --studio-color-secondary-500-hex: #96701d;
  --studio-color-secondary-500-hsl: 41, 68, 35;
  --studio-color-secondary-500-rgb: 150, 112, 29;
  --studio-color-secondary-600: #805c16;
  --studio-color-secondary-600-hex: #805c16;
  --studio-color-secondary-600-hsl: 40, 71, 29;
  --studio-color-secondary-600-rgb: 128, 92, 22;
  --studio-color-secondary-700: #6b4a0f;
  --studio-color-secondary-700-hex: #6b4a0f;
  --studio-color-secondary-700-hsl: 38, 75, 24;
  --studio-color-secondary-700-rgb: 107, 74, 15;
  --studio-color-secondary-800: #563709;
  --studio-color-secondary-800-hex: #563709;
  --studio-color-secondary-800-hsl: 36, 81, 19;
  --studio-color-secondary-800-rgb: 86, 55, 9;
  --studio-color-secondary-900: #432600;
  --studio-color-secondary-900-hex: #432600;
  --studio-color-secondary-900-hsl: 34, 100, 13;
  --studio-color-secondary-900-rgb: 67, 38, 0;
  --studio-color-secondary: #a17a20;
  --studio-color-secondary-hex: #a17a20;
  --studio-color-secondary-hsl: 42, 67, 38;
  --studio-color-secondary-rgb: 161, 122, 32;
  --studio-color-brand3-50: #a3ff82;
  --studio-color-brand3-50-hex: #a3ff82;
  --studio-color-brand3-50-hsl: 104, 100, 75;
  --studio-color-brand3-50-rgb: 163, 255, 130;
  --studio-color-brand3-100: #8cea6d;
  --studio-color-brand3-100-hex: #8cea6d;
  --studio-color-brand3-100-hsl: 105, 75, 67;
  --studio-color-brand3-100-rgb: 140, 234, 109;
  --studio-color-brand3-200: #75d458;
  --studio-color-brand3-200-hex: #75d458;
  --studio-color-brand3-200-hsl: 106, 59, 59;
  --studio-color-brand3-200-rgb: 117, 212, 88;
  --studio-color-brand3-300: #5ec042;
  --studio-color-brand3-300-hex: #5ec042;
  --studio-color-brand3-300-hsl: 107, 50, 51;
  --studio-color-brand3-300-rgb: 94, 192, 66;
  --studio-color-brand3-400: #45ab2c;
  --studio-color-brand3-400-hex: #45ab2c;
  --studio-color-brand3-400-hsl: 108, 59, 42;
  --studio-color-brand3-400-rgb: 69, 171, 44;
  --studio-color-brand3-500: #32961c;
  --studio-color-brand3-500-hex: #32961c;
  --studio-color-brand3-500-hsl: 109, 69, 35;
  --studio-color-brand3-500-rgb: 50, 150, 28;
  --studio-color-brand3-600: #258014;
  --studio-color-brand3-600-hex: #258014;
  --studio-color-brand3-600-hsl: 111, 73, 29;
  --studio-color-brand3-600-rgb: 37, 128, 20;
  --studio-color-brand3-700: #196b0c;
  --studio-color-brand3-700-hex: #196b0c;
  --studio-color-brand3-700-hsl: 112, 80, 23;
  --studio-color-brand3-700-rgb: 25, 107, 12;
  --studio-color-brand3-800: #0b5705;
  --studio-color-brand3-800-hex: #0b5705;
  --studio-color-brand3-800-hsl: 116, 89, 18;
  --studio-color-brand3-800-rgb: 11, 87, 5;
  --studio-color-brand3-900: #004400;
  --studio-color-brand3-900-hex: #004400;
  --studio-color-brand3-900-hsl: 120, 100, 13;
  --studio-color-brand3-900-rgb: 0, 68, 0;
  --studio-color-brand3: #38a120;
  --studio-color-brand3-hex: #38a120;
  --studio-color-brand3-hsl: 109, 67, 38;
  --studio-color-brand3-rgb: 56, 161, 32;
  --studio-color-brand4-50: #ff8580;
  --studio-color-brand4-50-hex: #ff8580;
  --studio-color-brand4-50-hsl: 2, 100, 75;
  --studio-color-brand4-50-rgb: 255, 133, 128;
  --studio-color-brand4-100: #ea706c;
  --studio-color-brand4-100-hex: #ea706c;
  --studio-color-brand4-100-hsl: 2, 75, 67;
  --studio-color-brand4-100-rgb: 234, 112, 108;
  --studio-color-brand4-200: #d55a59;
  --studio-color-brand4-200-hex: #d55a59;
  --studio-color-brand4-200-hsl: 0, 60, 59;
  --studio-color-brand4-200-rgb: 213, 90, 89;
  --studio-color-brand4-300: #c04446;
  --studio-color-brand4-300-hex: #c04446;
  --studio-color-brand4-300-hsl: 359, 50, 51;
  --studio-color-brand4-300-rgb: 192, 68, 70;
  --studio-color-brand4-400: #ab2d34;
  --studio-color-brand4-400-hex: #ab2d34;
  --studio-color-brand4-400-hsl: 357, 58, 42;
  --studio-color-brand4-400-rgb: 171, 45, 52;
  --studio-color-brand4-500: #951c27;
  --studio-color-brand4-500-hex: #951c27;
  --studio-color-brand4-500-hsl: 355, 68, 35;
  --studio-color-brand4-500-rgb: 149, 28, 39;
  --studio-color-brand4-600: #7f141f;
  --studio-color-brand4-600-hex: #7f141f;
  --studio-color-brand4-600-hsl: 354, 73, 29;
  --studio-color-brand4-600-rgb: 127, 20, 31;
  --studio-color-brand4-700: #690b17;
  --studio-color-brand4-700-hex: #690b17;
  --studio-color-brand4-700-hsl: 352, 81, 23;
  --studio-color-brand4-700-rgb: 105, 11, 23;
  --studio-color-brand4-800: #54040e;
  --studio-color-brand4-800-hex: #54040e;
  --studio-color-brand4-800-hsl: 353, 91, 17;
  --studio-color-brand4-800-rgb: 84, 4, 14;
  --studio-color-brand4-900: #400000;
  --studio-color-brand4-900-hex: #400000;
  --studio-color-brand4-900-hsl: 0, 100, 13;
  --studio-color-brand4-900-rgb: 64, 0, 0;
  --studio-color-brand4: #a1202b;
  --studio-color-brand4-hex: #a1202b;
  --studio-color-brand4-hsl: 355, 67, 38;
  --studio-color-brand4-rgb: 161, 32, 43;
  --studio-color-brand5-50: #ffa677;
  --studio-color-brand5-50-hex: #ffa677;
  --studio-color-brand5-50-hsl: 21, 100, 73;
  --studio-color-brand5-50-rgb: 255, 166, 119;
  --studio-color-brand5-100: #ea9163;
  --studio-color-brand5-100-hex: #ea9163;
  --studio-color-brand5-100-hsl: 20, 76, 65;
  --studio-color-brand5-100-rgb: 234, 145, 99;
  --studio-color-brand5-200: #d57c4f;
  --studio-color-brand5-200-hex: #d57c4f;
  --studio-color-brand5-200-hsl: 20, 61, 57;
  --studio-color-brand5-200-rgb: 213, 124, 79;
  --studio-color-brand5-300: #c0673c;
  --studio-color-brand5-300-hex: #c0673c;
  --studio-color-brand5-300-hsl: 20, 52, 49;
  --studio-color-brand5-300-rgb: 192, 103, 60;
  --studio-color-brand5-400: #ab5329;
  --studio-color-brand5-400-hex: #ab5329;
  --studio-color-brand5-400-hsl: 19, 61, 42;
  --studio-color-brand5-400-rgb: 171, 83, 41;
  --studio-color-brand5-500: #96411d;
  --studio-color-brand5-500-hex: #96411d;
  --studio-color-brand5-500-hsl: 18, 68, 35;
  --studio-color-brand5-500-rgb: 150, 65, 29;
  --studio-color-brand5-600: #7f3118;
  --studio-color-brand5-600-hex: #7f3118;
  --studio-color-brand5-600-hsl: 15, 68, 30;
  --studio-color-brand5-600-rgb: 127, 49, 24;
  --studio-color-brand5-700: #6a2112;
  --studio-color-brand5-700-hex: #6a2112;
  --studio-color-brand5-700-hsl: 10, 71, 24;
  --studio-color-brand5-700-rgb: 106, 33, 18;
  --studio-color-brand5-800: #55100c;
  --studio-color-brand5-800-hex: #55100c;
  --studio-color-brand5-800-hsl: 3, 75, 19;
  --studio-color-brand5-800-rgb: 85, 16, 12;
  --studio-color-brand5-900: #410000;
  --studio-color-brand5-900-hex: #410000;
  --studio-color-brand5-900-hsl: 0, 100, 13;
  --studio-color-brand5-900-rgb: 65, 0, 0;
  --studio-color-brand5: #a14920;
  --studio-color-brand5-hex: #a14920;
  --studio-color-brand5-hsl: 19, 67, 38;
  --studio-color-brand5-rgb: 161, 73, 32;
  --studio-color-neutral-50: #f9f9f9;
  --studio-color-neutral-50-hex: #f9f9f9;
  --studio-color-neutral-50-hsl: 0, 0, 98;
  --studio-color-neutral-50-rgb: 249, 249, 249;
  --studio-color-neutral-100: #e0e0e0;
  --studio-color-neutral-100-hex: #e0e0e0;
  --studio-color-neutral-100-hsl: 0, 0, 88;
  --studio-color-neutral-100-rgb: 224, 224, 224;
  --studio-color-neutral-200: #c7c7c7;
  --studio-color-neutral-200-hex: #c7c7c7;
  --studio-color-neutral-200-hsl: 0, 0, 78;
  --studio-color-neutral-200-rgb: 199, 199, 199;
  --studio-color-neutral-300: #aeaeae;
  --studio-color-neutral-300-hex: #aeaeae;
  --studio-color-neutral-300-hsl: 0, 0, 68;
  --studio-color-neutral-300-rgb: 174, 174, 174;
  --studio-color-neutral-400: #969696;
  --studio-color-neutral-400-hex: #969696;
  --studio-color-neutral-400-hsl: 0, 0, 59;
  --studio-color-neutral-400-rgb: 150, 150, 150;
  --studio-color-neutral-500: #7f7f7f;
  --studio-color-neutral-500-hex: #7f7f7f;
  --studio-color-neutral-500-hsl: 0, 0, 50;
  --studio-color-neutral-500-rgb: 127, 127, 127;
  --studio-color-neutral-600: #686868;
  --studio-color-neutral-600-hex: #686868;
  --studio-color-neutral-600-hsl: 0, 0, 41;
  --studio-color-neutral-600-rgb: 104, 104, 104;
  --studio-color-neutral-700: #525252;
  --studio-color-neutral-700-hex: #525252;
  --studio-color-neutral-700-hsl: 0, 0, 32;
  --studio-color-neutral-700-rgb: 82, 82, 82;
  --studio-color-neutral-800: #3e3e3e;
  --studio-color-neutral-800-hex: #3e3e3e;
  --studio-color-neutral-800-hsl: 0, 0, 24;
  --studio-color-neutral-800-rgb: 62, 62, 62;
  --studio-color-neutral: #969696;
  --studio-color-neutral-hex: #969696;
  --studio-color-neutral-hsl: 0, 0, 59;
  --studio-color-neutral-rgb: 150, 150, 150;
  --studio-color-background-50: #f5f5f5;
  --studio-color-background-50-hex: #f5f5f5;
  --studio-color-background-50-hsl: 0, 0, 96;
  --studio-color-background-50-rgb: 245, 245, 245;
  --studio-color-background: #f5f5f5;
  --studio-color-background-hex: #f5f5f5;
  --studio-color-background-hsl: 0, 0, 96;
  --studio-color-background-rgb: 245, 245, 245;
  --studio-font-base: 16;
  --studio-font-family-heading:
    "heading", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --studio-font-family-body:
    "body", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --studio-font-family-formal:
    "formal", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --studio-font-weight-heading-regular: 400;
  --studio-font-weight-heading-semiBold: 600;
  --studio-font-weight-heading-bold: 700;
  --studio-font-weight-body-regular: 400;
  --studio-font-weight-body-medium: 500;
  --studio-font-weight-body-semiBold: 600;
  --studio-font-weight-formal-regular: 400;
  --studio-font-weight-formal-medium: 500;
  --studio-font-weight-formal-semiBold: 600;
  --studio-font-weight-formal-bold: 700;
  --studio-font-weight-formal-black: 900;
  --studio-breakpoint-mobile: 480px;
  --studio-breakpoint-tablet: 768px;
  --studio-breakpoint-laptop: 1024px;
  --studio-breakpoint-desktop: 1280px;
  --studio-breakpoint-ultraWide: 1536px;
}
